@model E_wallet.Models.User
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>
        Hiiii @ViewBag.msg<br />
        mobile: @Model.Mobile<br />
        name: @Model.Name<br />
        pass: @Model.Password<br />
        add: @Model.Address<br />
        zip: @Model.Zipcode<br />
        gender: @Model.Gender<br />
        use: @Model.Use<br />
    </h1>
</body>
</html>